{% extends 'base.html.twig' %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/article.css') }}">
        {{ parent() }}
    {% endblock %}

    {% block body %}

        <div class="jumbotron">
            <img src="{{ asset('piatek.jpg') }}" class="img-thumbnail" style="width: 50%">
            <h1>{{ article.title }}</h1>
            <div class="container">
                {{ article.text }}
            </div>
            <hr>
            <h6>Data opublikowania : {{ article.createAt|date("Y-m-d") }}</h6>
        </div>
        <div class="col-md-6">
            <h3>Autor: {{ article.author }}</h3>
            <img src="{{ asset('madara.png') }}" class="img-fluid" style="border-radius: 100%;" >
        </div>
            <div class="jumbotron" style="width: 50%; float: left">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}
                <h4>Dodaj komentarz:</h4>
                {{ form_start(form) }}
                {{ form_errors(form.text, {'attr': {'class': 'form-error'}}) }}
                {{ form_widget(form.text, {'attr': {'class': 'form-control','placeholder': 'Podaj treść komentarza'}}) }}<br/>
                {{ form_widget(form.submit, {'attr': {'class': 'btn btn-success'}}) }}
                {{ form_end(form) }}
            </div>

        <img class="col-md-2" style="border-radius: 100%; float: right;" src="{{ asset('madara.png') }}">
        <img class="col-md-2" style="border-radius: 100%; float: right;" src="{{ asset('madara.png') }}">
        <img class="col-md-2" style="border-radius: 100%; float: right;" src="{{ asset('madara.png') }}">
        <img class="col-md-2" style="border-radius: 100%; float: right;" src="{{ asset('madara.png') }}">
        <img class="col-md-2" style="border-radius: 100%; float: right;" src="{{ asset('madara.png') }}">
        <img class="col-md-2" style="border-radius: 100%; float: right;" src="{{ asset('madara.png') }}">


    {% endblock %}